.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #c24d2c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin-bottom: 0;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #000000;
}